
/*Definição de fontes*/
@font-face {
    font-family: "Unbouded";
    src: url(../fonts/Unbounded-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;

}

/*Reset*/
* {
    padding: 0;
    margin: 0;
}

/*Estilo Desltop*/
body {
    background-color: #232323;
    color: #FFFFFF;
}

h1 span {
    color: #9747FF;
}

header img {
    display: block;
    margin: 75px 0 0 360px;
}

h1 {
    font-size: 80px;
    font-family: "Unbouded" , sans-serif;
    text-align: center;
    margin-top: 60px;

}

p {
    font-size: 24px;
    font-family: "Poppins" , sans-serif;
    text-align: center;
    margin: 24px auto 0;
    width: 792px;
}

a {
    color: #FFFFFF;
    font-family: "Poppins" , sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto; 
}

a:hover {
   background-color: #8233E8; 
}

section img {
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

@media(max-width: 768px){
    header img {
        margin: 65px 0 0 60px;
    }

    p {
        width: 648px;
    }

}



@media(max-width: 375px){
    header img {
        margin: 35px 0 0 16px;
    }

    h1 {
        font-size: 40px;
        
    }

    p {
        font-size: 20px;
        width: 340px;
    }

    a {
        font-size: 20px;
        width: 251px;
    }

    section img {
        width: 341px;
        height: 230px;
    }

    
}